.yellowimage-icon {
  position: relative;
  width: 8.81rem;
  height: 8.81rem;
  object-fit: cover;
}

.bigtext,
.paragraph1 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}

.bigtext {
  line-height: 5.13rem;
  text-transform: capitalize;
  width: 100%;
  /* height: 5.88rem; */
}

.paragraph1 {
  font-size: var(--body-default-size);
  line-height: 1.88rem;
  font-family: var(--text-single-100-bold);
  color: var(--color-darkslateblue);
  width: 90%;
}

.yellowbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.button-text5 {
  position: relative;
  line-height: 1.13rem;
}

.master-primary-button3 {
  border-radius: var(--br-21xl);
  border: 1.3px solid var(--neutral-colors-white);
  box-sizing: border-box;
  width: 9.5rem;
  height: 2.69rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-17xl);
  align-items: center;
  justify-content: center;
  font-size: var(--text-single-100-bold-size);
}


.yellowrectangle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.yellowcard {
  position: relative;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--neutral-colors-white);
  font-family: var(--headline);
  border-radius: 50px;
  background-color: #fec611;
  height: 481px;
  width: 644px;

}


.yellowcard:hover {
  border-radius: 50px;
  /* background: #ffffff; */
  box-shadow: inset 20px 20px 90px #aa850b,
    inset -20px -20px 90px #aa850b;
}

@media (max-width: 500px) {
  .yellowcard{
    border-radius: 12px;
  }
  .yellowcard:hover {
    border-radius: 12px;

  }
  
}