.bigtexttestimonials,
.paragraphtestimonials {
  position: relative;
  line-height: 2.5rem;
  text-transform: uppercase;
  display: inline-block;
  width: 10.06rem;
  height: 4.81rem;
  flex-shrink: 0;
}
.paragraphtestimonials {
  font-size: var(--body-default-size);
  line-height: 2.13rem;
  text-transform: capitalize;
  color: var(--color-darkslateblue);
  width: 17.19rem;
  height: 2.44rem;
}
.testimonial-card {
  border-radius: var(--br-5xl);
  background-color: var(--color-gold);
  width: 24.19rem;
  height: 21.5rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-48xl) var(--padding-37xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-30xl);
}
.streaming {
  margin: 0;
}
.bigtexttestimonials1 {
  position: relative;
  line-height: 2.5rem;
  text-transform: uppercase;
  display: inline-block;
  width: 12.88rem;
  height: 4.81rem;
  flex-shrink: 0;
}
.httpslottiefilescom99714-icon {
  position: relative;
  width: 10.25rem;
  height: 3.56rem;
  object-fit: cover;
  margin-left: -11.87rem;
}
.paragraphtestimonials1 {
  position: relative;
  font-size: var(--body-default-size);
  line-height: 2.13rem;
  text-transform: capitalize;
  color: var(--color-darkslateblue);
  display: inline-block;
  width: 17.19rem;
  height: 7.06rem;
  flex-shrink: 0;
  margin-left: -11.87rem;
}
.testimonial-card1 {
  border-radius: var(--br-5xl);
  background-color: var(--color-gold);
  width: 22.81rem;
  height: 21.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-19xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.bigtexttestimonials2,
.paragraphtestimonials2 {
  position: relative;
  line-height: 2.5rem;
  text-transform: uppercase;
  display: inline-block;
  width: 10.81rem;
  height: 3.13rem;
  flex-shrink: 0;
}
.paragraphtestimonials2 {
  font-size: var(--body-default-size);
  line-height: 2.13rem;
  text-transform: capitalize;
  color: var(--color-darkslateblue);
  width: 17.19rem;
  height: 7.06rem;
}
.bg-card,
.testimonial-card2 {
  border-radius: var(--br-5xl);
  background-color: var(--color-gold);
  height: 21.5rem;
}
.testimonial-card2 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs) var(--padding-26xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lgi);
}
.bg-card {
  position: relative;
  width: 24.25rem;
}
.testimonial-card3,
.testimonials {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonial-card3 {
  width: 24.25rem;
  height: 21.5rem;
  flex-direction: column;
}
.testimonials {
  flex-direction: row;
  gap: var(--gap-9xl);
  z-index: 0;
}
.secondary-cricle-button {
  position: absolute;
  margin: 0 !important;
  top: 8.13rem;
  left: 75.44rem;
  width: 4rem;
  height: 4rem;
  z-index: 1;
}
.tesimonials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--headline);
}
