/* 
.master-primary-button1 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gold);
  padding: var(--padding-lg) var(--padding-5xl);
  justify-content: center;
  font-size: var(--text-single-100-bold-size);
  color: var(--color-darkslateblue);
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--main-site-body);
  padding: 0;
  margin: 0;
  z-index: 100;
  overflow: hidden;
}

.overlay-items{
width: 100%;
height: 100%;
align-items: end;
gap: 18px;
padding: 18px;
position: absolute;
top: 86px;
}

.overlay-items.Links{
  cursor: pointer;
}
.overlay-items a:hover{
  color: var(--color-gold);
}







.HeaderEllipseBox {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  z-index: 100000001;
  position: absolute;
  bottom: 0;
}

.HeaderEllipseBox .HeaderEllipse-wrapper {
  border: 0px none;
  height: 228px;
  width: 228px;
  position: absolute;
  bottom: 0;
}

.HeaderEllipseBox .HeaderEllipse {
  background-color: var(--color-gold);
  border-radius: 50%;
  filter: blur(80px);
  height: 230px;
  width: 230px;
  position: absolute;
  bottom: -30%;
} */
