.if-you-are1 {
  margin: 0;
}
.textwhite7 {
  position: relative;
  line-height: 2.5rem;
  display: inline-block;
  width: 75.31rem;
  height: 10.06rem;
  flex-shrink: 0;
}
.sportsbody3,
.sportssection31 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sportsbody3 {
  align-items: center;
  gap: 3.69rem;
}
.sportssection31 {
  position: relative;
  background-color: var(--main-site-body);
  width: 100%;
  padding: 3.31rem 7.19rem;
  box-sizing: border-box;
  align-items: flex-start;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--neutral-colors-white);
  font-family: var(--headline);
}
