.heading2 {
  position: relative;
  line-height: 2.5rem;
  text-transform: capitalize;
  display: inline-block;
  width: 73.63rem;
  height: 2.5rem;
  flex-shrink: 0;
}
.subsec3,
.yellowcards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* gap: var(--gap-45xl);
  font-size: var(--font-size-31xl); */
  
}
.subsec3 {
  flex-direction: column;
  gap: var(--gap-71xl);
  text-align: center;
  font-size: var(--headline-size);
  color: var(--neutral-colors-white);
  font-family: var(--headline);
}


.mySwiper2.swiper{
  height: 490px;
}
.mySwiper2 .swiper-slide{
 width: 644px !important;
 height: 481px;
}

.mySwiper2 .swiper-slide-active,
.mySwiper2 .swiper-slide-next{
  width: 644px !important;
}

.mySwiper2 .swiper-wrapper{
  justify-content: center;
}

.mySwiper2 .swiper-button-disabled{
  visibility: hidden;
}

.mySwiper2 .swiper-button-prev,
.mySwiper2 .swiper-button-next{
  background-color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding-bottom: 10px;
  /* background-image: url(/public/chevron_right.png); */
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-left: ; */
}

.mySwiper2 .swiper-button-next{
right: 3.75rem;
top: 28%;
}

.mySwiper2 .swiper-button-prev{
  left: 3.75rem;
  top: 28%;
}
.mySwiper2 .swiper-button-prev::after{
  content: url(/public//arrow_back.svg);
}
.mySwiper2 .swiper-button-next::after{
  content: url(/public/arrow_forward.svg);
}

@media (max-width: 640px) {

  .mySwiper2 .swiper-slide{
 width: 334px !important;
 height: 280px !important;
}

.mySwiper2 .swiper-slide-active,
.mySwiper2 .swiper-slide-next{
  width: 334px !important;
}
}