
:root {
    --color-primary: #6B7A8F;
    --color-secondary: #101118;
    --color-accent: #1D1F2F;
    --color-focus: #6D64F7;
    --base-duration: 600ms;
    --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
  }
  


  

  .visuallyhidden { 
    clip: rect(1px, 1px, 1px, 1px);  
    height: 1px; 
    overflow: hidden;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }
  
  /* 
  // =========================
  // Icons
  // ========================= */
  
  .icon {
    fill: var(--color-primary);
    width: 100%;
  }
  
  
  /* // =========================
  // Buttons
  // ========================= */
  
  .btn {
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.125rem;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    padding: 1rem 2.5rem 1.125rem;
    
    &:focus {
      outline-color: var(--color-focus);
      outline-offset: 2px;
      outline-style: solid;
      outline-width: 3px;
    }
    
    &:active {
      transform: translateY(1px);
    }
  }
  
  /* 
  // =========================
  // Slider controls
  // ========================= */
  .slider__controls {
    display: flex;
    justify-content: flex-end; /* Adjust to align on the right side */
    align-items: center; /* Vertically center the button */
    position: absolute;

    top: 35%; /* Position relative to the vertical center */
    transform: translateY(-50%); /* Adjust to center vertically */
    right: 8.25rem; /* Adjust the distance from the right side */
    
    .btn {
      --size: 4rem;
      
      align-items: center;
      background-color: transparent;
      border: 3px solid transparent;
      border-radius: 100%;
      display: flex;
      height: var(--size);
      padding: 0;
      width: var(--size);
      
      &:focus {
        border-color: var(--color-focus);
        outline: none;
      }
          
      &--previous > * {
        transform: rotate(180deg);
      }
    }
  }
  
  
  /* 
  // =========================
  // Slider
  // ========================= */
  
  .slider {
    --slide-size: 70vmin;
    --slide-margin: 4vmin;
    /* background-color: #dfe0e8; */
    height: var(--slide-size);
    margin: 0 auto;
    position: relative;
    width: 95vw;
  }
  
  .slider__wrapper {
    display: flex;
    margin: 0;
    position: absolute;
    transition: transform var(--base-duration) cubic-bezier(0.25, 1, 0.35, 1);
  }
  
  
  /* // =========================
  // Slide
  // ========================= */
  
  /* .slide {
    background-color: #fec811;
    border-radius: 50px;
    align-items: center;
    color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: var(--slide-size);
    justify-content: center;
    margin: 0 var(--slide-margin);
    opacity: 0.25;
    position: relative;
    text-align: center;
    transition: 
      opacity calc(var(--base-duration) / 2) var(--base-ease),
      transform calc(var(--base-duration) / 2) var(--base-ease);
    width: var(--slide-size);
    z-index: 1;
    opacity: 1;
    
    &--previous,
    &--next {    
      &:hover {
        opacity: 0.8;
      }
    }
    
    &--previous {
      cursor: w-resize;
      
      &:hover {
        transform: translateX(2%);
      }
    }
    
    &--next {
      cursor: e-resize;
      
      &:hover {
        transform: translateX(-2%);
      }
    }
  } */
  
  .slide {
    background-color: #fec811;
    border-radius: 50px;
    align-items: center;
    color: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 345px; /* Set the height */
    justify-content: center;
    margin: 0 0.87rem;
    opacity: 0.25;
    position: relative;
    text-align: center;
    transition: 
      opacity calc(var(--base-duration) / 2) var(--base-ease),
      transform calc(var(--base-duration) / 2) var(--base-ease);
    width: 388px; /* Set the width */
    z-index: 1;
    opacity: 1;
    
    &--previous,
    &--next {    
      &:hover {
        opacity: 0.8;
        background-color: white;
      }
    }
    
    &--previous {
      cursor: w-resize;
      
      &:hover {
        transform: translateX(2%);
      }
    }
    
    &--next {
      cursor: e-resize;
      
      &:hover {
        transform: translateX(-2%);
      }
    }
  }
  .btn{
    background-color: #fff !important;
  }
  
  .slide--current {
    --x: 0;
    --y: 0;
    --d: 50;
  
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
    
    /* @media (hover: hover) {
      &:hover .slide__image-wrapper {
        transform: 
          scale(1.025)
          translate(
            calc(var(--x) / var(--d) * 1px),
            calc(var(--y) / var(--d) * 1px)
          );
      }    
    } */
  }
  
  
  
  /* .slide__image {
    --d: 20;
    
    height: 110%;
    left: -5%;
    object-fit: cover;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -5%;
    transition:
      opacity var(--base-duration) var(--base-ease),
      transform var(--base-duration) var(--base-ease);
    user-select: none;
    width: 110%;
    
    @media (hover: hover) {
      .slide--current & {      
        transform: 
          translate(
            calc(var(--x) / var(--d) * 1px),
            calc(var(--y) / var(--d) * 1px)
          ); 
      }
    }
  } */
  .slide__image {
    width: 164px;
    height: 57px;
  }
  
  /* .slide__headline {
    font-size: 8vmin;
    font-weight: 600;
    text-align: center;
    margin-top: 10px; 
  } */
  
  .slide__headline {
    font-size: 32px;
    font-weight: 600;
    width: 200px;
    text-align: center; /* Add this line to center the heading */
    text-transform: uppercase;
    margin: auto;
    color: #101118;
  }
  
  .slide__action {
    font-size: 18px; /* Set the font size to 18px */
    color: #101118;
  }
  
  
  .slide__content {
    --d: 60;
    padding: 4vmin;
    position: relative;
    transform: translate(
      calc(var(--x) / var(--d) * -1px),
      calc(var(--y) / var(--d) * -1px)
    );
  
    > * + * {
      margin-top: 2rem;
    }
  }
  
  /* .slide__content {
    --d: 60;
    
    opacity: 0;
    padding: 4vmin;
    position: relative;
    transition: transform var(--base-duration) var(--base-ease);
    
    
    .slide--current & {
      animation: fade-in calc(var(--base-duration) / 2) var(--base-ease) forwards;
      visibility: visible;
      
      @media (hover: hover) {
        transform: 
          translate(
            calc(var(--x) / var(--d) * -1px),
            calc(var(--y) / var(--d) * -1px)
          );
      }
    }
    
    > * + * {
      margin-top: 2rem;
    }
  } */
  
  
  /* // =========================
  // Animations
  // ========================= */
  
  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
  
  
  