.ellipse5 {
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-gray-300);
  filter: blur(200px);
  width: 22.06rem;
  height: 22.06rem;
  z-index: 1;
}
.if-you-are {
  margin: 0;
}
.textwhite {
  position: relative;
  line-height: 2.5rem;
  display: inline-block;
  width: 75.31rem;
  height: 10.06rem;
  flex-shrink: 0;
}
.line-roundedsearch-icon {
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button-text {
  position: relative;
  line-height: 1.13rem;
}
.line-roundedarrow-right {
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
  overflow: hidden;
  flex-shrink: 0;
}
.master-primary-button {
  border-radius: var(--br-21xl);
  background-color: var(--color-gold);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-17xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--body-default-size);
  color: var(--color-darkslateblue);
}
.sportssection3body {
  /* width: 101rem; */
  /* height: 23.06rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-17xl);
  text-align: center;

}
.sportssection-3,
.sportssection3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sportssection-3 {
  /* margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 0; */
  width: 90rem;
  /* height: 30.56rem; */
  z-index: 0;
}
.sportssection3 {
  position: relative;
  background-color: var(--main-site-body);
  width: 100%;
    width: 100%;
  padding: 53px 115px;
  box-sizing: border-box;
  align-items: flex-start;
  font-size: var(--font-size-5xl);
  color: var(--neutral-colors-white);
  font-family: var(--headline);
}
