/* @media (max-width: 500px) {
  .sportsbook-and-betting {
    position: relative;
    line-height: 1.81rem;
    display: inline-block;
    width: 20rem;
    flex-shrink: 0;
  }
  .sportsbook-and-betting-softwar-wrapper {
    background-color: #fec811;
    width: 25rem;
    height: 8.69rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    padding: 0 1.69rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .container-icon {
    position: relative;
    width: 25rem;
    height: 0.75rem;
  }
  .frame-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sevens-gaming-is {
    margin: 0;
  }
  .sevens-gaming-is-container {
    line-height: 1.63rem;
    white-space: pre-wrap;
    display: inline-block;
    width: 20.88rem;
    height: 31.44rem;
  }
  .frame-icon,
  .sevens-gaming-is-container,
  .we-use-the {
    position: relative;
    flex-shrink: 0;
  }
  .frame-icon {
    width: 18.75rem;
    height: 14.06rem;
    overflow: hidden;
  }
  .we-use-the {
    line-height: 1.63rem;
    display: inline-block;
    width: 20.88rem;
    height: 13.19rem;
  }
  .sevens-gaming-is-a-leading-spo-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.56rem;
    text-align: justify;
    font-size: 1rem;
    color: #fff;
  }
  .frame-parent {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.56rem;
  }
  .sportsmobilesection1 {
    position: relative;
    background-color: #49006c;
    width: 100%;
    height: 72.31rem;
    text-align: center;
    font-size: 2rem;
    color: #563e89;
    font-family: Montserrat;
  }
}   */